.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-button-container{
  margin: 20px 0;
}

.main-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.nav-list{
  padding: 15px;
  margin: 10px;
  background-color: #f0f9ff;
  overflow: hidden;
}

.filter-brand{
  margin-top: 20px;
}

h3.title-custom{
  margin-bottom: 20px;
  font-size: 30px;
}

.errorMessage mat-icon{
  width: 300px;
  font-size: 300px;
  height: 300px;
  margin: 0 auto;
  display: block;
}
.errorMessage p{
  font-size: 20px;
  text-align: center;
}
.mat-toolbar.mat-primary {
  height: 70px;
}

mat-sidenav {
  width: 25%;
}
