<div class="main-container">

  <mat-toolbar color="primary">
    <button mat-icon-button class="header-icon" aria-label="header icon-button with menu icon" (click)="box.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Shopping Car</span>
    <span class="toolbar-spacer"></span>
    <div class="toolbar-button-container">
      <button [routerLink]="['/shopping-car']" mat-raised-button aria-label="Example icon button with a bookmark icon">
        <mat-icon [matBadge]="cantProducts" matBadgeColor="accent" [matBadgeHidden]="hidden">shopping_cart</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="header-sidenav-container">
    <mat-sidenav #box mode="side" opened>
      <mat-nav-list *ngIf="productsPath === '/products'; else links">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{titleSection}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-selection-list [multiple]="false">
              <mat-list-option *ngFor="let brand of brands">
                <mat-checkbox class="header-margin" (change)="changeSelection($event,brand)">{{brand}}</mat-checkbox>
              </mat-list-option>
            </mat-selection-list>
            <!-- <button mat-raised-button color="primary" class="filter-brand" (click)="sendFilter()">Aplicar filtro</button> -->
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
      <ng-template #links>
        <mat-selection-list>
          <mat-list-item role="listitem">
            <a [routerLink]="['/products']" mat-button>
              <mat-icon color="primary">store</mat-icon>
              Tienda
            </a>
          </mat-list-item>
        </mat-selection-list>
      </ng-template>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>